<!DOCTYPE html>
<html>
<head>
	<title>Personal Details</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="align">
<center>
<%=yield%>

</center>
</div>
</body>
</html>